@media screen and (max-width:768px){
    *{padding:0;margin:0;outline:none;box-sizing:border-box;}
    div,p{font-weight:400;}
    body{scroll-behavior:smooth;position:relative;}
    a{text-decoration:none;color:#fff;}
    body{width:100%;font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;}
    html{scroll-behavior:smooth;width:100%;}
    .fixed-bottom-bar{width:100%;position:fixed;bottom:0;background-color:#fff;height:100px;left:0;}
    .fixed-bottom-bar{display:flex;justify-content:center;align-items:center;box-shadow:0px -2px 11px rgba(0, 0, 0, 0.25);}
    .fixed-bottom-bar button{height:70px;width:90%;margin:0 auto;background-color:#263238;border-radius:50px;display:flex;align-items:center;justify-content:center;}
    .fixed-bottom-bar button {font-family:'Open Sans';font-weight:800;font-size:23px;color:#fff;}
    .main{width:90%;margin:30px auto 200px;}
    .back-arrow{width:100%;}
    .back-arrow a i{color:#000;font-size:30px;}
    .add-property-form{margin-top:20px;}
    .add-propety-head{margin-bottom:15px;}
    .add-propety-head p{font-weight:600;font-size:22px;}
    form .all-property label,form .all-property p{font-family:'Inter';font-weight:500;font-size:18px;margin-bottom:5px;}
    form .all-property input[type="text"],form .all-property input[type="number"],form .all-property textarea
    {width:100%;padding:15px 5px;border-radius:10px;font-size:16px;font-family:'Poppins';border:1px solid #808080;margin-top:5px;background-color:rgba(128, 128, 128, 0.1);}
    form .all-property textarea{resize:none;height:150px;}
    .property-name,.property-location,.property-range,.property-features,.property-images,.property-video,.property-description
    {margin-bottom:15px;}
    .property-images{width:100%;}
    .flex-images{display:flex;flex-wrap:wrap;}
    .imagesProperty{width:33.33%;height:120px;display:flex;align-items:center;justify-content:center;margin-bottom:5px;}
    .input-image{width:113px;height:113px;}
    .imagesProperty .Images{background-color:rgba(128, 128, 128, 0.2);border:1px solid #808080;border-radius:10px;}
    .imagesProperty .Images label,.input-video label{display:flex;flex-direction:column;align-items:center;justify-content:center;height:inherit;}
    .imagesProperty .Images label input[type="file"]{width:100%;padding:0 10px;}
    .imagesProperty .Images label input::file-selector-button,.property-video .input-video label input::file-selector-button{display:none;}
    .imagesProperty .Images label i{font-size:25px;}
    .imagesProperty:first-child .Images,.imagesProperty:last-child .Images{margin-right:auto;}
    .imagesProperty:nth-child(3) .Images{margin-left:auto;}
    .property-video .input-video label{width:100%;}
    .property-video .input-video label i{font-size:35px;}
    .property-video .input-video label p{font-family:'Inter';font-weight:500;font-size:23px;}
    .property-video .input-video{width:100%;border:1px solid #808080;background-color:rgba(128, 128, 128, 0.1);height:300px;border-radius:10px;}
    form .setError .error{color:red;font-weight:700;font-size:20px;text-align:center;padding:10px 0;text-transform:capitalize;font-family:'Inter';}
    .all-property .note-msg p{font-size:14px;color:red;}
}