@media screen and (max-width:768px){
    *{padding:0;margin:0;outline:none;box-sizing:border-box;}
    div,p{font-weight:400;}
    body{scroll-behavior:smooth;position:relative;}
    a{text-decoration:none;color:#fff;}
    body{width:100%;font-family:'Inter', Verdana, Geneva, Tahoma, sans-serif;}
    html{scroll-behavior:smooth;width:100%;}
    .fixed-bottom-bar{width:100%;position:fixed;bottom:0;background-color:#fff;height:100px;left:0;}
    .fixed-bottom-bar{display:flex;justify-content:center;align-items:center;box-shadow:0px -2px 11px rgba(0, 0, 0, 0.25);}
    .fixed-bottom-bar button{height:70px;width:90%;margin:0 auto;background-color:#263238;border-radius:50px;display:flex;align-items:center;justify-content:center;}
    .fixed-bottom-bar button {font-family:'Open Sans';font-weight:800;font-size:23px;color:#fff;}
    .main{width:90%;margin:30px auto 200px;}
    .back-arrow{width:100%;}
    .back-arrow a i{color:#000;font-size:30px;}
    .confirm-property-form{margin-top:20px;}
    .confirm-propety-head{margin-bottom:15px;}
    .confirm-propety-head p{font-weight:600;font-size:22px;}
    .display-property .property{display:flex;justify-content:space-between;margin:25px 0;}
    .display-property .allProperty{margin:20px 0;}
    .allProperty .property p:first-child{font-weight:500;font-size:18px;margin-right:100px;}
    .allProperty .property p:last-child{font-weight:700;font-size:20px;text-transform:capitalize;text-align:end;}
    .all-images .selectedImg{width:33.33%;height:120px;display:flex;align-items:center;justify-content:center;margin-bottom:5px;}
    .all-images .selectedImg:first-child{margin-left:0;}
    .all-images .selectedImg:last-child{margin-right:0;}
    .all-images .selectedImg .width-auto-img{width:113px;height:113px;}
    .all-images .selectedImg img{width:100%;height:100%;border-radius:10px;}
    .propertyImages .all-images{display:flex;flex-wrap:wrap;}
    .propertyVideo .selectedVideo{width:100%;height:350px;border-radius:10px;}
    .propertyVideo .selectedVideo video{width:100%;height:100%;border-radius:10px;}
    .display_file{width:200px;height:200px;}
    .all-images .selectedImg:nth-child(2) .width-auto-img{margin:0 auto;}
    .all-images .selectedImg:first-child .width-auto-img, .all-images .selectedImg:last-child .width-auto-img{margin-right:auto;}
    .all-images .selectedImg:nth-child(3) .width-auto-img{margin-right:0;}
}